.toptekst{
    background-color: rgb(238, 215, 102);
}

.cv{
    text-align: right;
}
.center{
text-align: center;
}

.footer{

}

.row{
    background-color: rgb(238, 215, 102);
}

